doctype html

html 
    head 
        title JAQB
        link(rel='stylesheet', href="https://www.w3schools.com/w3css/4/w3.css")
        script(src="https://kit.fontawesome.com/d9d68cd1ee.js" crossorigin="anonymous")
        script(src="index.js")
    body 
        div(class="w3-bar w3-light-gray w3-xlarge") 
            a(href="/", class="w3-bar-item w3-button w3-hover-red") JAQB Admin
        div(class="w3-center w3-large")
            p This project is developed under the guidence/sponsorship of
            p(class="w3-xlarge") Dr. Michael J. Findler
            p for the capstone SER 517: Software Factory I,  at Arizona State University
                p The project is developed by team
            div(class="w3-row w3-padding")
                div(class="w3-col s1 l2 w3-container")
                div(class="w3-col s1 l2 w3-container")
                    img(src="images/Aman.png", style="width: 100%;", alt="Amanjot Singh")
                    p(class="w3-xlarge") Amanjot Singh
                    p Software Engineering, MS 
                    a(href="https://www.linkedin.com/in/asing225/")
                        i(class="fab fa-linkedin fa-2x") 
                    i(style="width: 30px;") 
                    a(href="https://github.com/asing225")
                        i(class="fab fa-github-square fa-2x")
                div(class="w3-col s1 l2 w3-container")
                    img(src="images/Bharat.png", style="width: 100%;", alt="Bharat Goel")
                    p(class="w3-xlarge") Bharat Goel
                    p Software Engineering, MS 
                    a(href="https://www.linkedin.com/in/bharat-goel/")
                        i(class="fab fa-linkedin fa-2x") 
                    i(style="width: 30px;") 
                    a(href="https://github.com/BharatG295")
                        i(class="fab fa-github-square fa-2x")
                div(class="w3-col s1 l2 w3-container")
                    img(src="images/Ruby.png", alt="Ruby Zhao", style="width: 100%;")
                    p(class="w3-xlarge") Ruby Zhao
                    p Software Engineering, MS
                    a(href="")
                        i(class="fab fa-linkedin fa-2x") 
                    i(style="width: 30px;") 
                    a(href="https://github.com/rubyqzhao")
                        i(class="fab fa-github-square fa-2x")
                div(class="w3-col s1 l2 w3-container")
                    img(src="images/Josh.png", alt="Joshua Drumm", style="width: 100%;")
                    p(class="w3-xlarge") Joshua Drumm
                    p Software Engineering, MS
                    a(href="https://www.linkedin.com/in/joshua-drumm-877161198/")
                        i(class="fab fa-linkedin fa-2x") 
                    i(style="width: 30px;") 
                    a(href="https://github.com/Jkdrumm")
                        i(class="fab fa-github-square fa-2x")
                div(class="w3-col s1 l2 w3-container")
            br
            br
            div(class="w3-row w3-padding")
                    i(class="fab fa-github-square fa-3x")
                    a(href="https://github.com/rubyqzhao/jaqb-attendance-app" target="_blank") 
                        h2 JAQB Github Repository