extends layout

block content

  div(class = "w3-row-padding")
    div(class = "w3-col w3-white w3-padding"  id="courselist")
      h2 Course Listing
      div(id="tableDiv")
        table(id="mytab", class="table table-striped table-bordered")
          thead(align="left")
            tr
              th Code
              th Course Name
              th Days
              th Time
              th Instructor
              th
          tbody
            each item in courses
              tr
                each row in item
                  td(id="class-" + row) #{row}
                td
                  button(class="w3-button w3-light-gray w3-hover-red" type='submit', onclick='deleteCourse("#{item}")') Remove