extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Course Listing
  table
    thead
      tr
        th Code
        th Course Name
        th Days
        th Time
        th Instructor
    tbody
      each item in courses
        tr
          each row in item
            td(id="class-" + row) #{row}

  h2 Change User Privileges
  button(type="button", onclick="window.location.href = '/user_privileges_page';") User Privileges

  h2 Assign Courses to Instructors
  button(type="button", onclick="window.location.href = '';") Assign Courses to Instructors

  h2 Add Courses
  form(name="add-course", action="add-course", method="post")
    div.input
      span.label Course Code (eg SER 517)
      input(type="text", name="code")
      br
      span.label Course Name
      input(type="text", name="name")
      br
      span.label Meeting Days (MO,TU,WE,TH,FR)
      input(type="text", name="days")
      br
      span.label Meeting Time
      input(type="time", name="time")
      br
      span.label Course Instructor
      input(type="text", name="instructor")
      br
    div.actions
      input(type="submit", value="Add")

  h2 Delete Course
  form(name="delete-course", action="delete-course" method="post")
    div.input
      span.label Course Code (eg SER 517)
      input(type="text", name="courseCode")
      br
    div.actions
      input(type="submit", value="Delete")
