extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Users Listing
  table
    thead
      tr
        th First Name
        th Last Name
        th Level
    tbody
      each item in users
        tr
          each row in item
            td(id="class-" + row) #{row}